# Line Chat Bot Record Expenses
##### Mr.Jakkrit Sonsanit

***

### Import Library

In [1]:
import pandas as pd
from firebase import firebase

### Create New DataFrame

In [2]:
df = pd.DataFrame({
    'date':[],
    'text':[],
    'money':[],
    'cate':[]
})

### Load Dataframe

In [3]:
df = pd.read_csv('Expenses.csv')
df.tail()

          date        text  money  cate
64  11/10/2019  พริกแกงหมู   50.0  Food
65  11/10/2019    น้ำเปล่า   70.0  Food
66  11/10/2019   นมเปรี้ยว   24.0  Food
67  12/10/2019    หมูกระทะ  159.0  Food
68  12/10/2019        ชานม   40.0  Food

### Connect Firebase

In [4]:
authentication = firebase.FirebaseAuthentication('wI4pPnsc1m2Ei7E3Q3drORPWtDBo927IxwBsA6ZH', 'palm8ikaa2@gmail.com', extra={'id': 123})
firebase = firebase.FirebaseApplication('https://line-bot-chrins.firebaseio.com/', authentication=authentication)

### Query data in firebase

In [5]:
result = firebase.get('/chat', None)

### Append new expenses in dataframe

In [6]:
tmp = list()
old_numlist = len(df)
for k, v in result.items():
    tmp.append(v)
for i in range(len(tmp)):
    if i >= old_numlist:
        df = df.append(tmp[i], ignore_index=True)
df.tail()

          date           text  money cate
70  13/10/2019           ชานม   65.0  NaN
71  13/10/2019          เสื้อ  580.0  NaN
72  13/10/2019          ราเมง  115.0  NaN
73  13/10/2019  กระเป๋าอิเกีย   89.0  NaN
74  13/10/2019     ค่าแท๊กซี่  106.0  NaN

### Append expenses on day in dataframe

In [12]:
for k, v in result.items():
#     df = df.append(v, ignore_index=True)
    if v['date'] == '6/9/2019':
        df = df.append(v, ignore_index=True)
df.head()

       date       text  money  cate
0  5/9/2019      ราเมง  150.0   NaN
1  5/9/2019  นมเปรี้ยว   25.0   NaN
2  5/9/2019     ขนมปัง   18.0   NaN
3  5/9/2019        ขนม   10.0   NaN
4  5/9/2019   ข้าวเย็น   40.0   NaN

### Append all expenses to dataframe

In [101]:
for k, v in result.items():
    df = df.append(v, ignore_index=True)
df.head()

       date       text  money  cate
0  5/9/2019      ราเมง  150.0   NaN
1  5/9/2019  นมเปรี้ยว   25.0   NaN
2  5/9/2019     ขนมปัง   18.0   NaN
3  5/9/2019        ขนม   10.0   NaN
4  5/9/2019   ข้าวเย็น   40.0   NaN

### Set NaN Category is Food

In [7]:
df.cate = df.cate.fillna('Food')
df

          date             text    money             cate
0      1/10/19      นมช็อคโกแลต    12.00             Food
1      1/10/19       ข้าวเที่ยง    35.00             Food
2      1/10/19     น้ำกระเจี๊ยบ     5.00             Food
3      1/10/19             ชานม    35.00             Food
4      1/10/19         ข้าวเย็น    50.00             Food
5      1/10/19  ค่าอินเตอร์เน็ต   631.30             Bill
6      1/10/19      ค่าโทรศัพท์   258.47             Bill
7      2/10/19         ข้าวเย็น   130.00             Food
8      2/10/19             ชานม    40.00             Food
9      2/10/19           หมาล่า    30.00             Food
10     3/10/19         ข้าวเย็น    35.00             Food
11     3/10/19            ไอติม    25.00             Food
12     3/10/19            ตัดผม   150.00            Other
13     3/10/19          ซาลาเปา    20.00             Food
14     3/10/19          ไส้กรอก    45.00             Food
15     3/10/19            ดอยคำ    17.00             Food
16     3/10/19         ใบมีดโกน   135.00         Shopping
17     3/10/19          ค่าห้อง  5203.00             Bill
18     4/10/19       ข้าวเที่ยง    45.00             Food
19     4/10/19       ค่าNetflix   145.00             Bill
20     4/10/19         ข้าวเย็น    40.00             Food
21     4/10/19             ชานม    30.00             Food
22     4/10/19         เงินเก็บ    20.00           Saving
23   5/10/2019            ราเมง   150.00             Food
24   5/10/2019        นมเปรี้ยว    25.00             Food
25   5/10/2019           ขนมปัง    18.00             Food
26   5/10/2019              ขนม    10.00             Food
27   5/10/2019         ข้าวเย็น    40.00             Food
28   5/10/2019            ดอยคำ    17.00             Food
29   6/10/2019           ค่าarl    24.00  Transportation
..         ...              ...      ...              ...
45   8/10/2019         ข้าวเย็น    35.00             Food
46   8/10/2019          ซาลาเปา    20.00             Food
47   8/10/2019           บัวลอย    30.00             Food
48   9/10/2019               นม    10.00             Food
49   9/10/2019       ข้าวเที่ยง    30.00             Food
50   9/10/2019            ค่ารถ    40.00   Transportation
51   9/10/2019             ชานม    90.00             Food
52   9/10/2019         ข้าวเย็น    80.00             Food
53   9/10/2019            โกโก้    35.00             Food
54   9/10/2019          ค่าหนัง   140.00    Entertainment
55  10/10/2019          เติมเกม   300.00    Entertainment
56  10/10/2019          ค่าหนัง   100.00    Entertainment
57  10/10/2019          โอ้เด้ง    43.00             Food
58  10/10/2019          ป็อปคอน    20.00             Food
59  11/10/2019         ค่าเหล้า   120.00    Entertainment
60  11/10/2019       ค่ากระเพรา    50.00             Food
61  11/10/2019             ถั่ว    10.00             Food
62  11/10/2019      ข้าวหอมมะลิ    52.00             Food
63  11/10/2019   หอยลายปุ้มปุ้ย    27.00             Food
64  11/10/2019       พริกแกงหมู    50.00             Food
65  11/10/2019         น้ำเปล่า    70.00             Food
66  11/10/2019        นมเปรี้ยว    24.00             Food
67  12/10/2019         หมูกระทะ   159.00             Food
68  12/10/2019             ชานม    40.00             Food
69  13/10/2019       ข้าวเที่ยง    45.00             Food
70  13/10/2019             ชานม    65.00             Food
71  13/10/2019            เสื้อ   580.00             Food
72  13/10/2019            ราเมง   115.00             Food
73  13/10/2019    กระเป๋าอิเกีย    89.00             Food
74  13/10/2019       ค่าแท๊กซี่   106.00             Food

[75 rows x 4 columns]

### Change category

In [10]:
t = ['Entertainment', 'Transportation', 'Shopping', 'Food', 'Bill', 'Other']
df.at[74, 'cate'] = t[1]
df.iloc[74:]

          date        text  money            cate
74  13/10/2019  ค่าแท๊กซี่  106.0  Transportation

### Save to csv

In [11]:
df

          date             text    money             cate
0      1/10/19      นมช็อคโกแลต    12.00             Food
1      1/10/19       ข้าวเที่ยง    35.00             Food
2      1/10/19     น้ำกระเจี๊ยบ     5.00             Food
3      1/10/19             ชานม    35.00             Food
4      1/10/19         ข้าวเย็น    50.00             Food
5      1/10/19  ค่าอินเตอร์เน็ต   631.30             Bill
6      1/10/19      ค่าโทรศัพท์   258.47             Bill
7      2/10/19         ข้าวเย็น   130.00             Food
8      2/10/19             ชานม    40.00             Food
9      2/10/19           หมาล่า    30.00             Food
10     3/10/19         ข้าวเย็น    35.00             Food
11     3/10/19            ไอติม    25.00             Food
12     3/10/19            ตัดผม   150.00            Other
13     3/10/19          ซาลาเปา    20.00             Food
14     3/10/19          ไส้กรอก    45.00             Food
15     3/10/19            ดอยคำ    17.00             Food
16     3/10/19         ใบมีดโกน   135.00         Shopping
17     3/10/19          ค่าห้อง  5203.00             Bill
18     4/10/19       ข้าวเที่ยง    45.00             Food
19     4/10/19       ค่าNetflix   145.00             Bill
20     4/10/19         ข้าวเย็น    40.00             Food
21     4/10/19             ชานม    30.00             Food
22     4/10/19         เงินเก็บ    20.00           Saving
23   5/10/2019            ราเมง   150.00             Food
24   5/10/2019        นมเปรี้ยว    25.00             Food
25   5/10/2019           ขนมปัง    18.00             Food
26   5/10/2019              ขนม    10.00             Food
27   5/10/2019         ข้าวเย็น    40.00             Food
28   5/10/2019            ดอยคำ    17.00             Food
29   6/10/2019           ค่าarl    24.00  Transportation
..         ...              ...      ...              ...
45   8/10/2019         ข้าวเย็น    35.00             Food
46   8/10/2019          ซาลาเปา    20.00             Food
47   8/10/2019           บัวลอย    30.00             Food
48   9/10/2019               นม    10.00             Food
49   9/10/2019       ข้าวเที่ยง    30.00             Food
50   9/10/2019            ค่ารถ    40.00   Transportation
51   9/10/2019             ชานม    90.00             Food
52   9/10/2019         ข้าวเย็น    80.00             Food
53   9/10/2019            โกโก้    35.00             Food
54   9/10/2019          ค่าหนัง   140.00    Entertainment
55  10/10/2019          เติมเกม   300.00    Entertainment
56  10/10/2019          ค่าหนัง   100.00    Entertainment
57  10/10/2019          โอ้เด้ง    43.00             Food
58  10/10/2019          ป็อปคอน    20.00             Food
59  11/10/2019         ค่าเหล้า   120.00    Entertainment
60  11/10/2019       ค่ากระเพรา    50.00             Food
61  11/10/2019             ถั่ว    10.00             Food
62  11/10/2019      ข้าวหอมมะลิ    52.00             Food
63  11/10/2019   หอยลายปุ้มปุ้ย    27.00             Food
64  11/10/2019       พริกแกงหมู    50.00             Food
65  11/10/2019         น้ำเปล่า    70.00             Food
66  11/10/2019        นมเปรี้ยว    24.00             Food
67  12/10/2019         หมูกระทะ   159.00             Food
68  12/10/2019             ชานม    40.00             Food
69  13/10/2019       ข้าวเที่ยง    45.00             Food
70  13/10/2019             ชานม    65.00             Food
71  13/10/2019            เสื้อ   580.00         Shopping
72  13/10/2019            ราเมง   115.00             Food
73  13/10/2019    กระเป๋าอิเกีย    89.00         Shopping
74  13/10/2019       ค่าแท๊กซี่   106.00   Transportation

[75 rows x 4 columns]

In [12]:
df.to_csv('Expenses.csv', index=False)

## Summary 
***

### Total Expenses

In [10]:
print("Total Expenses :", sum(df.money), 'Baht')

Total Expenses : 9711.77 Baht

### Total Expenses in day

In [13]:
d = input("dd/mm : \n\n")+"/2019"
print("Total Expenses in", d, ":", sum(df[df.date == d]['money']), 'Baht')

dd/mm :

13/10
Total Expenses in 13/10/2019 : 1000.0 Baht