# Line Chat Bot Record Expenses
##### Mr.Jakkrit Sonsanit

***

### Import Library

In [196]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from firebase import firebase

### Create New DataFrame

In [197]:
# dfe = pd.DataFrame({
#     'date':[],
#     'text':[],
#     'money':[],
#     'cate':[]
# })

## EXPENSES
***

### Load Dataframe

In [198]:
dfe = pd.read_csv('Expenses.csv')
dfe.tail()

          date           text  money            cate
71  2019-10-13          เสื้อ  580.0        Shopping
72  2019-10-13          ราเมง  115.0            Food
73  2019-10-13  กระเป๋าอิเกีย   89.0        Shopping
74  2019-10-13     ค่าแท๊กซี่  106.0  Transportation
75  2019-10-14        กระเพรา   50.0            Food

### Connect Firebase

In [199]:
authentication = firebase.FirebaseAuthentication('wI4pPnsc1m2Ei7E3Q3drORPWtDBo927IxwBsA6ZH', 'palm8ikaa2@gmail.com', extra={'id': 123})
firebase = firebase.FirebaseApplication('https://line-bot-chrins.firebaseio.com/', authentication=authentication)

### Query Expenses from firebase

In [200]:
result = firebase.get('/expenses', None)

### Append new expenses in dataframe

In [201]:
tmp = list()
old_numlist = len(dfe)
for k, v in result.items():
    tmp.append(v)
for i in range(len(tmp)):
    if i >= old_numlist:
        dfe = dfe.append(tmp[i], ignore_index=True)
dfe.date = pd.to_datetime(dfe.date)
dfe.tail()

         date           text  money            cate
71 2019-10-13          เสื้อ  580.0        Shopping
72 2019-10-13          ราเมง  115.0            Food
73 2019-10-13  กระเป๋าอิเกีย   89.0        Shopping
74 2019-10-13     ค่าแท๊กซี่  106.0  Transportation
75 2019-10-14        กระเพรา   50.0            Food

### Append expenses on day in dataframe

In [202]:
# for k, v in result.items():
#     if v['date'] == '6/9/2019':
#         dfe = dfe.append(v, ignore_index=True)
# dfe.date = pd.to_datetime(dfe.date)
# dfe.head()

### Append all expenses to dataframe

In [203]:
# for k, v in result.items():
#     dfe = dfe.append(v, ignore_index=True)
# dfe.date = pd.to_datetime(dfe.date)
# dfe.head()

### Set NaN Category is Food

In [204]:
dfe.cate = dfe.cate.fillna('Food')
dfe

         date             text    money            cate
0  2019-10-01      นมช็อคโกแลต    12.00            Food
1  2019-10-01       ข้าวเที่ยง    35.00            Food
2  2019-10-01     น้ำกระเจี๊ยบ     5.00            Food
3  2019-10-01             ชานม    35.00            Food
4  2019-10-01         ข้าวเย็น    50.00            Food
5  2019-10-01  ค่าอินเตอร์เน็ต   631.30            Bill
6  2019-10-01      ค่าโทรศัพท์   258.47            Bill
7  2019-10-02         ข้าวเย็น   130.00            Food
8  2019-10-02             ชานม    40.00            Food
9  2019-10-02           หมาล่า    30.00            Food
10 2019-10-03         ข้าวเย็น    35.00            Food
11 2019-10-03            ไอติม    25.00            Food
12 2019-10-03            ตัดผม   150.00           Other
13 2019-10-03          ซาลาเปา    20.00            Food
14 2019-10-03          ไส้กรอก    45.00            Food
15 2019-10-03            ดอยคำ    17.00            Food
16 2019-10-03         ใบมีดโกน   135.00        Shopping
17 2019-10-03          ค่าห้อง  5203.00            Bill
18 2019-10-04       ข้าวเที่ยง    45.00            Food
19 2019-10-04       ค่าNetflix   145.00            Bill
20 2019-10-04         ข้าวเย็น    40.00            Food
21 2019-10-04             ชานม    30.00            Food
22 2019-10-04         เงินเก็บ    20.00          Saving
23 2019-10-05            ราเมง   150.00            Food
24 2019-10-05        นมเปรี้ยว    25.00            Food
25 2019-10-05           ขนมปัง    18.00            Food
26 2019-10-05              ขนม    10.00            Food
27 2019-10-05         ข้าวเย็น    40.00            Food
28 2019-10-05            ดอยคำ    17.00            Food
29 2019-10-06           ค่าarl    24.00  Transportation
..        ...              ...      ...             ...
46 2019-10-08          ซาลาเปา    20.00            Food
47 2019-10-08           บัวลอย    30.00            Food
48 2019-10-09               นม    10.00            Food
49 2019-10-09       ข้าวเที่ยง    30.00            Food
50 2019-10-09            ค่ารถ    40.00  Transportation
51 2019-10-09             ชานม    90.00            Food
52 2019-10-09         ข้าวเย็น    80.00            Food
53 2019-10-09            โกโก้    35.00            Food
54 2019-10-09          ค่าหนัง   140.00   Entertainment
55 2019-10-10          เติมเกม   300.00   Entertainment
56 2019-10-10           ดูหนัง   100.00   Entertainment
57 2019-10-10          โอ้เด้ง    43.00            Food
58 2019-10-10          ป็อปคอน    20.00            Food
59 2019-10-11         ค่าเหล้า   120.00   Entertainment
60 2019-10-11       ค่ากระเพรา    50.00            Food
61 2019-10-11             ถั่ว    10.00            Food
62 2019-10-11      ข้าวหอมมะลิ    52.00            Food
63 2019-10-11   หอยลายปุ้มปุ้ย    27.00            Food
64 2019-10-11       พริกแกงหมู    50.00            Food
65 2019-10-11         น้ำเปล่า    70.00            Food
66 2019-10-11        นมเปรี้ยว    24.00            Food
67 2019-10-12         หมูกระทะ   159.00            Food
68 2019-10-12             ชานม    40.00            Food
69 2019-10-13       ข้าวเที่ยง    45.00            Food
70 2019-10-13             ชานม    65.00            Food
71 2019-10-13            เสื้อ   580.00        Shopping
72 2019-10-13            ราเมง   115.00            Food
73 2019-10-13    กระเป๋าอิเกีย    89.00        Shopping
74 2019-10-13       ค่าแท๊กซี่   106.00  Transportation
75 2019-10-14          กระเพรา    50.00            Food

[76 rows x 4 columns]

### Change category

In [10]:
t = ['Entertainment', 'Transportation', 'Shopping', 'Food', 'Bill', 'Other']
dfe.at[74, 'cate'] = t[1]
dfe.iloc[74:]

          date        text  money            cate
74  13/10/2019  ค่าแท๊กซี่  106.0  Transportation

### Save to csv

In [53]:
dfe.to_csv('Expenses.csv', index=False)

## INCOME
***

### Create DataFrame

In [86]:
dfi = pd.DataFrame({
    'date':[],
    'text':[],
    'money':[],
})

### Load DataFrame

In [90]:
dfi = pd.read_csv('income.csv')

### Query income from firebase

In [87]:
result = firebase.get('/income', None)

### Append new income

In [88]:
tmp = list()
old_numlist = len(dfi)
for k, v in result.items():
    tmp.append(v)
for i in range(len(tmp)):
    if i >= old_numlist:
        dfi = dfi.append(tmp[i], ignore_index=True)
dfi.date = pd.to_datetime(dfi.date)
dfi.tail()

        date    text    money
0 2019-10-01  พ่อให้  14000.0

### Save to csv

In [89]:
dfi.to_csv('income.csv', index=False)

## Summary 
***

### Balance

In [205]:
print("Balance : %.2f Bath" %(sum(dfi.money)-sum(dfe.money)))

Balance : 3238.23 Bath

### Total Incom and Expenses

In [206]:
print("Total Icome :", sum(dfi.money), 'Bath')
print("Total Expenses :", sum(dfe.money), 'Baht')

Total Icome : 14000.0 Bath
Total Expenses : 10761.77 Baht

### Total Expenses in day

In [207]:
d = "2019-"+input("mm-dd :")
print("Total Expenses in", d, ":", sum(dfe[dfe.date == d]['money']), 'Baht')

mm-dd :10-13
Total Expenses in 2019-10-13 : 1000.0 Baht

### Total Expenses in each month

In [209]:
tmp = dfe.rename(columns={"date": "Month", "money":"Money"})
tmp.groupby(tmp.Month.dt.month).sum()

          Money
Month
10     10761.77

### Total Expenses in each category

In [210]:
dfe.groupby(['cate']).sum()

                  money
cate
Bill            6387.77
Entertainment    660.00
Food            2180.00
Other            150.00
Saving            20.00
Shopping        1104.00
Transportation   260.00

### Expenses in each category

In [211]:
lss = ['1.Food', '2.Entertainment', '3.Bill', '4.Saving', '5.Shopping', '6.Transportation', '7.Other']
print(*ls)
dfe[dfe.cate == ls[int(input('Enter number of category '))-1][2:]]

1.Food 2.Entertainment 3.Bill 4.Saving 5.Shopping 6.Transportation 7.Other
Enter number of category 2

         date      text  money           cate
54 2019-10-09   ค่าหนัง  140.0  Entertainment
55 2019-10-10   เติมเกม  300.0  Entertainment
56 2019-10-10    ดูหนัง  100.0  Entertainment
59 2019-10-11  ค่าเหล้า  120.0  Entertainment