# Line Chat Bot Record Expenses

***

### Import Library

In [1]:
import pandas as pd
from firebase import firebase

### Create New DataFrame

In [100]:
df = pd.DataFrame({
    'date':[],
    'text':[],
    'money':[],
    'cate':[]
})

### Load Dataframe

In [2]:
df = pd.read_csv('Expenses.csv')
df.tail()

        date       text  money  cate
13  6/9/2019      มาม่า   26.0  Food
14  6/9/2019      ไอติม   15.0  Food
15  6/9/2019    อิชิตัน   19.0  Food
16  7/9/2019         นม   16.0  Food
17  7/9/2019  คาปูชิโน่   35.0  Food

### Connect Firebase

In [3]:
authentication = firebase.FirebaseAuthentication('wI4pPnsc1m2Ei7E3Q3drORPWtDBo927IxwBsA6ZH', 'palm8ikaa2@gmail.com', extra={'id': 123})
firebase = firebase.FirebaseApplication('https://line-bot-chrins.firebaseio.com/', authentication=authentication)

### Query data in firebase

In [4]:
result = firebase.get('/chat', None)
print(result)

{'-LqReJpCP9lY2jAui0C8': {'date': '5/9/2019', 'money': 150, 'text': 'ราเมง'}, '-LqReMSs0GuMqp-P-sMj': {'date': '5/9/2019', 'money': 25, 'text': 'นมเปรี้ยว'}, '-LqReMw0gwcFp1uB-W2J': {'date': '5/9/2019', 'money': 18, 'text': 'ขนมปัง'}, '-LqReO0DIuuRn7C-KCA3': {'date': '5/9/2019', 'money': 10, 'text': 'ขนม'}, '-LqRePWEGGa8jbdZF1Bn': {'date': '5/9/2019', 'money': 40, 'text': 'ข้าวเย็น'}, '-LqReQZkkawDjDylh0f4': {'date': '5/9/2019', 'money': 17, 'text': 'ดอยคำ'}, '-LqUWW6Ir56yJ9unjS3D': {'date': '6/9/2019', 'money': 24, 'text': 'ค่าarl'}, '-LqU_a8wcwahKILaYbV2': {'date': '6/9/2019', 'money': 14, 'text': 'ค่าmrt'}, '-LqV4tzF-0dK3dcz4WPc': {'date': '6/9/2019', 'money': 25, 'text': 'ค่าmrt'}, '-LqVxzsfMncmrI5tPfS8': {'date': '6/9/2019', 'money': 27, 'text': 'ค่าmrt'}, '-LqW5eEEZOQj2GBwOzsn': {'date': '6/9/2019', 'money': 24, 'text': 'ค่าarl'}, '-LqWH6pe5VkwaiDmg6da': {'date': '6/9/2019', 'money': 300, 'text': 'ซื้อกางเกง'}, '-LqWZtY9oGjyOH35R1kv': {'date': '6/9/2019', 'money': 20, 'text': 'ถั่ว'}, '-LqW_DwfKBJzBdMqCKb6': {'date': '6/9/2019', 'money': 26, 'text': 'มาม่า'}, '-LqW_GDc6tFpi01J78Sn': {'date': '6/9/2019', 'money': 15, 'text': 'ไอติม'}, '-LqW__Q_aS8t_TljHhEv': {'date': '6/9/2019', 'money': 19, 'text': 'อิชิตัน'}, '-LqZiG48rUsAozDgd8wJ': {'date': '7/9/2019', 'money': 16, 'text': 'นม'}, '-Lq__HzvTU2rDuG0iOZg': {'date': '7/9/2019', 'money': 35, 'text': 'คาปูชิโน่'}, '-Lqd8QkPxq9Ii206lYt9': {'date': '8/9/2019', 'money': 10, 'text': 'นม'}, '-Lqdj5oydu5qn4F7pGFJ': {'date': '8/9/2019', 'money': 150, 'text': 'ค่าviu'}, '-LqdsJ9KoKuYylmBoNX5': {'date': '8/9/2019', 'money': 30, 'text': 'ข้าวเที่ยง'}, '-LqdsKlz-8_QIs4MGED2': {'date': '8/9/2019', 'money': 5, 'text': 'น้ำกระเจี๊ยบ'}}

### Append expenses on day in dataframe

In [12]:
for k, v in result.items():
#     df = df.append(v, ignore_index=True)
    if v['date'] == '6/9/2019':
        df = df.append(v, ignore_index=True)
df.head()

       date       text  money  cate
0  5/9/2019      ราเมง  150.0   NaN
1  5/9/2019  นมเปรี้ยว   25.0   NaN
2  5/9/2019     ขนมปัง   18.0   NaN
3  5/9/2019        ขนม   10.0   NaN
4  5/9/2019   ข้าวเย็น   40.0   NaN

### Append new expenses in dataframe

In [5]:
tmp = list()
old_numlist = len(df)
for k, v in result.items():
    tmp.append(v)
for i in range(len(tmp)):
    if i >= old_numlist:
        df = df.append(tmp[i], ignore_index=True)
df.tail()

        date          text  money  cate
17  7/9/2019     คาปูชิโน่   35.0  Food
18  8/9/2019            นม   10.0   NaN
19  8/9/2019        ค่าviu  150.0   NaN
20  8/9/2019    ข้าวเที่ยง   30.0   NaN
21  8/9/2019  น้ำกระเจี๊ยบ    5.0   NaN

### Append all expenses to dataframe

In [101]:
for k, v in result.items():
    df = df.append(v, ignore_index=True)
df.head()

       date       text  money  cate
0  5/9/2019      ราเมง  150.0   NaN
1  5/9/2019  นมเปรี้ยว   25.0   NaN
2  5/9/2019     ขนมปัง   18.0   NaN
3  5/9/2019        ขนม   10.0   NaN
4  5/9/2019   ข้าวเย็น   40.0   NaN

### Set NaN Category is Food

In [6]:
df.cate = df.cate.fillna('Food')
df

        date          text  money             cate
0   5/9/2019         ราเมง  150.0             Food
1   5/9/2019     นมเปรี้ยว   25.0             Food
2   5/9/2019        ขนมปัง   18.0             Food
3   5/9/2019           ขนม   10.0             Food
4   5/9/2019      ข้าวเย็น   40.0             Food
5   5/9/2019         ดอยคำ   17.0             Food
6   6/9/2019        ค่าarl   24.0  Transportation
7   6/9/2019        ค่าmrt   14.0  Transportation
8   6/9/2019        ค่าmrt   25.0  Transportation
9   6/9/2019        ค่าmrt   27.0  Transportation
10  6/9/2019        ค่าarl   24.0  Transportation
11  6/9/2019    ซื้อกางเกง  300.0         Shopping
12  6/9/2019          ถั่ว   20.0             Food
13  6/9/2019         มาม่า   26.0             Food
14  6/9/2019         ไอติม   15.0             Food
15  6/9/2019       อิชิตัน   19.0             Food
16  7/9/2019            นม   16.0             Food
17  7/9/2019     คาปูชิโน่   35.0             Food
18  8/9/2019            นม   10.0             Food
19  8/9/2019        ค่าviu  150.0             Food
20  8/9/2019    ข้าวเที่ยง   30.0             Food
21  8/9/2019  น้ำกระเจี๊ยบ    5.0             Food

### Change category

In [105]:
df.at[6:10, 'cate'] = 'Transportation '
df

        date        text  money             cate
0   5/9/2019       ราเมง  150.0             Food
1   5/9/2019   นมเปรี้ยว   25.0             Food
2   5/9/2019      ขนมปัง   18.0             Food
3   5/9/2019         ขนม   10.0             Food
4   5/9/2019    ข้าวเย็น   40.0             Food
5   5/9/2019       ดอยคำ   17.0             Food
6   6/9/2019      ค่าarl   24.0  Transportation
7   6/9/2019      ค่าmrt   14.0  Transportation
8   6/9/2019      ค่าmrt   25.0  Transportation
9   6/9/2019      ค่าmrt   27.0  Transportation
10  6/9/2019      ค่าarl   24.0  Transportation
11  6/9/2019  ซื้อกางเกง  300.0         Shopping
12  6/9/2019        ถั่ว   20.0             Food
13  6/9/2019       มาม่า   26.0             Food
14  6/9/2019       ไอติม   15.0             Food
15  6/9/2019     อิชิตัน   19.0             Food

### Save to csv

In [106]:
df

        date        text  money             cate
0   5/9/2019       ราเมง  150.0             Food
1   5/9/2019   นมเปรี้ยว   25.0             Food
2   5/9/2019      ขนมปัง   18.0             Food
3   5/9/2019         ขนม   10.0             Food
4   5/9/2019    ข้าวเย็น   40.0             Food
5   5/9/2019       ดอยคำ   17.0             Food
6   6/9/2019      ค่าarl   24.0  Transportation
7   6/9/2019      ค่าmrt   14.0  Transportation
8   6/9/2019      ค่าmrt   25.0  Transportation
9   6/9/2019      ค่าmrt   27.0  Transportation
10  6/9/2019      ค่าarl   24.0  Transportation
11  6/9/2019  ซื้อกางเกง  300.0         Shopping
12  6/9/2019        ถั่ว   20.0             Food
13  6/9/2019       มาม่า   26.0             Food
14  6/9/2019       ไอติม   15.0             Food
15  6/9/2019     อิชิตัน   19.0             Food

In [7]:
df.to_csv('Expenses.csv', index=False)