# Line Chat Bot Record Expenses

***

### Import Library

In [75]:
import pandas as pd
from firebase import firebase

### Create New DataFrame

In [76]:
df = pd.DataFrame({
    'date':[],
    'text':[],
    'money':[],
    'cate':[]
})

### Connect Firebase

In [77]:
authentication = firebase.FirebaseAuthentication('wI4pPnsc1m2Ei7E3Q3drORPWtDBo927IxwBsA6ZH', 'palm8ikaa2@gmail.com', extra={'id': 123})
firebase = firebase.FirebaseApplication('https://line-bot-chrins.firebaseio.com/', authentication=authentication)

### Query data in firebase

In [78]:
result = firebase.get('/chat', None)
print(result)

{'-LqReJpCP9lY2jAui0C8': {'date': '5/9/2019', 'money': 150, 'text': 'ราเมง'}, '-LqReMSs0GuMqp-P-sMj': {'date': '5/9/2019', 'money': 25, 'text': 'นมเปรี้ยว'}, '-LqReMw0gwcFp1uB-W2J': {'date': '5/9/2019', 'money': 18, 'text': 'ขนมปัง'}, '-LqReO0DIuuRn7C-KCA3': {'date': '5/9/2019', 'money': 10, 'text': 'ขนม'}, '-LqRePWEGGa8jbdZF1Bn': {'date': '5/9/2019', 'money': 40, 'text': 'ข้าวเย็น'}, '-LqReQZkkawDjDylh0f4': {'date': '5/9/2019', 'money': 17, 'text': 'ดอยคำ'}, '-LqRrzR4xLICDZ9xrR9p': {'date': '5/9/2019', 'money': 10, 'text': 'นม'}}

### Append data in dataframe

In [79]:
for k, v in result.items():
    if v['date'] == '5/9/2019':
        df = df.append(v, ignore_index=True)
df.head()

       date       text  money  cate
0  5/9/2019      ราเมง  150.0   NaN
1  5/9/2019  นมเปรี้ยว   25.0   NaN
2  5/9/2019     ขนมปัง   18.0   NaN
3  5/9/2019        ขนม   10.0   NaN
4  5/9/2019   ข้าวเย็น   40.0   NaN

### Set Default Category is Food

In [80]:
df.cate = 'Food'
df.head()

       date       text  money  cate
0  5/9/2019      ราเมง  150.0  Food
1  5/9/2019  นมเปรี้ยว   25.0  Food
2  5/9/2019     ขนมปัง   18.0  Food
3  5/9/2019        ขนม   10.0  Food
4  5/9/2019   ข้าวเย็น   40.0  Food

### Save to csv

In [81]:
df.to_csv('Expenses.csv', index=False)