# Line Chat Bot Record Expenses
##### Mr.Jakkrit Sonsanit

***

### Import Library

In [1]:
import pandas as pd
from firebase import firebase

### Create New DataFrame

In [100]:
df = pd.DataFrame({
    'date':[],
    'text':[],
    'money':[],
    'cate':[]
})

### Load Dataframe

In [2]:
df = pd.read_csv('Expenses.csv')
df.tail()

         date      text  money            cate
50  9/10/2019     ค่ารถ   40.0  Transportation
51  9/10/2019      ชานม   90.0            Food
52  9/10/2019  ข้าวเย็น   80.0            Food
53  9/10/2019     โกโก้   35.0            Food
54  9/10/2019   ค่าหนัง  140.0   Entertainment

### Connect Firebase

In [3]:
authentication = firebase.FirebaseAuthentication('wI4pPnsc1m2Ei7E3Q3drORPWtDBo927IxwBsA6ZH', 'palm8ikaa2@gmail.com', extra={'id': 123})
firebase = firebase.FirebaseApplication('https://line-bot-chrins.firebaseio.com/', authentication=authentication)

### Query data in firebase

In [4]:
result = firebase.get('/chat', None)
print(result)

{'-LqReJpCP9lY2jAui0C8': {'date': '1/10/2019', 'money': 12, 'text': 'นมช็อคโกแลต'}, '-LqReMSs0GuMqp-P-sMj': {'date': '1/10/2019', 'money': 35, 'text': 'ข้าวเที่ยง'}, '-LqReMw0gwcFp1uB-W2J': {'date': '1/10/2019', 'money': 5, 'text': 'น้ำกระเจี๊ยบ'}, '-LqReO0DIuuRn7C-KCA3': {'date': '1/10/2019', 'money': 35, 'text': 'ชานม'}, '-LqRePWEGGa8jbdZF1Bn': {'date': '1/10/2019', 'money': 50, 'text': 'ข้าวเย็น'}, '-LqReQZkkawDjDylh0f4': {'date': '1/10/2019', 'money': 631.3, 'text': 'อินเตอร์เน็ต'}, '-LqUWW6Ir56yJ9unjS3D': {'date': '1/10/2019', 'money': 258.47, 'text': 'ค่าโทรศัพท์'}, '-LqU_a8wcwahKILaYbV2': {'date': '2/10/2019', 'money': 130, 'text': 'ข้าวเย็น'}, '-LqV4tzF-0dK3dcz4WPc': {'date': '2/10/2019', 'money': 40, 'text': 'ชานม'}, '-LqVxzsfMncmrI5tPfS8': {'date': '2/10/2019', 'money': 30, 'text': 'หมาล่า'}, '-LqW5eEEZOQj2GBwOzsn': {'date': '3/10/2019', 'money': 35, 'text': 'ข้าวเย็น'}, '-LqWH6pe5VkwaiDmg6da': {'date': '3/10/2019', 'money': 25, 'text': 'ไอติม'}, '-LqWZtY9oGjyOH35R1kv': {'date': '3/10/2019', 'money': 150, 'text': 'ตัดผม'}, '-LqW_DwfKBJzBdMqCKb6': {'date': '3/10/2019', 'money': 20, 'text': 'ซาลาเปา'}, '-LqW_GDc6tFpi01J78Sn': {'date': '3/10/2019', 'money': 45, 'text': 'ไส้กรอก'}, '-LqW__Q_aS8t_TljHhEv': {'date': '3/10/2019', 'money': 17, 'text': 'ดอยคำ'}, '-LqZiG48rUsAozDgd8wJ': {'date': '3/10/2019', 'money': 135, 'text': 'ใบมีดโกน'}, '-Lq__HzvTU2rDuG0iOZg': {'date': '3/10/2019', 'money': 5203, 'text': 'ค่าห้อง'}, '-Lqd8QkPxq9Ii206lYt9': {'date': '4/10/2019', 'money': 45, 'text': 'ข้าวเที่ยง'}, '-Lqdj5oydu5qn4F7pGFJ': {'date': '4/10/2019', 'money': 145, 'text': 'ค่า Netflix'}, '-LqdsJ9KoKuYylmBoNX5': {'date': '4/10/2019', 'money': 40, 'text': 'ข้าวเย็น'}, '-LqdsKlz-8_QIs4MGED2': {'date': '4/10/2019', 'money': 30, 'text': 'ชานม'}, '-Lqey_IPSB5CTiy4u1bf': {'date': '4/10/2019', 'money': 20, 'text': 'เก็บเงิน'}, '-LqeyaMFdjmNGABGfBCX': {'date': '5/10/2019', 'money': 150, 'text': 'ราเมง'}, '-Lqeyu2SWjE3YtGtkrO1': {'date': '5/10/2019', 'money': 25, 'text': 'นมเปรี้ยว'}, '-LqfDPzZRUHAI2dU2rAs': {'date': '5/10/2019', 'money': 18, 'text': 'ขนมปัง'}, '-LqfDR_Uiu22GZqyguyg': {'date': '5/10/2019', 'money': 10, 'text': 'ขนม'}, '-LqfDT5e0iWfQlZiHSNG': {'date': '5/10/2019', 'money': 40, 'text': 'ข้าวเย็น'}, '-LqfDU1EkfBiwfPMijtD': {'date': '5/10/2019', 'money': 17, 'text': 'ดอยคำ'}, '-LqfDVbo8rPOlysWdRvI': {'date': '6/10/2019', 'money': 24, 'text': 'ค่าarl'}, '-LqfDX_3fm2SLeuCBLLF': {'date': '6/10/2019', 'money': 14, 'text': 'ค่าmrt'}, '-LqfD_Jvkb1PtKuafWXi': {'date': '6/10/2019', 'money': 25, 'text': 'ค่าmrt'}, '-LqfDcZQmpaxyISk013G': {'date': '6/10/2019', 'money': 27, 'text': 'ค่าmrt'}, '-LqfDdvB226yBe7ziV0X': {'date': '6/10/2019', 'money': 24, 'text': 'ค่าarl'}, '-LqfDfjjj_B-IFlzd3dO': {'date': '6/10/2019', 'money': 300, 'text': 'ซื้อกางเกง'}, '-LqfDhA_J19J1Go8Q9ue': {'date': '6/10/2019', 'money': 20, 'text': 'ถั่ว'}, '-LqfDimRnxuQzC3kxYfC': {'date': '6/10/2019', 'money': 26, 'text': 'มาม่า'}, '-LqfDkHBhCZztEEBWuxW': {'date': '6/10/2019', 'money': 15, 'text': 'ไอติม'}, '-LqfDliSqYLC6xFRIiaV': {'date': '6/10/2019', 'money': 19, 'text': 'อิชิตัน'}, '-LqfDngr5xVkaOQ6a9jr': {'date': '7/10/2019', 'money': 16, 'text': 'นม'}, '-LqfDot7nyURwL80AflI': {'date': '7/10/2019', 'money': 35, 'text': 'คาปูชิโน่'}, '-LqfDq96GyedtRUoJNQj': {'date': '8/10/2019', 'money': 10, 'text': 'นม'}, '-LqfDs5YCa-hX9qeNkTr': {'date': '8/10/2019', 'money': 150, 'text': 'ค่าviu'}, '-LqfDu91EcQ7cHUpIvPB': {'date': '8/10/2019', 'money': 30, 'text': 'ข้าวเที่ยง'}, '-LqfDvJfXn8WpMJLUAaY': {'date': '8/10/2019', 'money': 5, 'text': 'น้ำกระเจี๊ยบ'}, '-LqfDx1XzxaBItcEPbaM': {'date': '8/10/2019', 'money': 35, 'text': 'ข้าวเย็น'}, '-LqfDy2Tmp7fyiIC8pSb': {'date': '8/10/2019', 'money': 20, 'text': 'ซาลาเปา'}, '-LqfDzgdBB4Su3eHA8xO': {'date': '8/10/2019', 'money': 30, 'text': 'บัวลอย'}, '-LqiIkGg1t6ssPMAWaIO': {'date': '9/10/2019', 'money': 10, 'text': 'นม'}, '-LqjSAMxly25_SEqvVdc': {'date': '9/10/2019', 'money': 30, 'text': 'ข้าวเที่ยง'}, '-Lqk3uUHd_DU0GAjy9NA': {'date': '9/10/2019', 'money': 40, 'text': 'ค่ารถ'}, '-LqkQhUlK1H90xJYMy6w': {'date': '9/10/2019', 'money': 90, 'text': 'ชานม'}, '-LqkaldVi800woTHGsuo': {'date': '9/10/2019', 'money': 80, 'text': 'ข้าวเย็น'}, '-LqkuhVksjXcuBzmpB_m': {'date': '9/10/2019', 'money': 35, 'text': 'โกโก้'}, '-LqkujBUktRsV3XX1OYZ': {'date': '9/10/2019', 'money': 140, 'text': 'ค่าหนัง'}, '-LqpsAkj39zlqZVLLBIG': {'date': '10/10/2019', 'money': 300, 'text': 'เติมเกม'}, '-Lqq20SXWGIg55lM_mjs': {'date': '10/10/2019', 'money': 100, 'text': 'ค่าหนัง'}, '-LqqmpF9rmG1Ojmhs4L3': {'date': '10/10/2019', 'money': 43, 'text': 'โอ้เด้ง'}, '-LqqmqjWtMoWJJtr0ktn': {'date': '10/10/2019', 'money': 20, 'text': 'ป็อปคอน'}, '-LqtJpEu22q2U4qsj5qn': {'date': '11/10/2019', 'money': 120, 'text': 'ค่าเหล้า'}, '-LqtJz-S8JaZUU5vt4uQ': {'date': '11/10/2019', 'money': 50, 'text': 'ค่ากระเพรา'}, '-LqtKWx9cPdXw3WLJfV_': {'date': '11/10/2019', 'money': 10, 'text': 'ถั่ว'}}

### Append new expenses in dataframe

In [5]:
tmp = list()
old_numlist = len(df)
for k, v in result.items():
    tmp.append(v)
for i in range(len(tmp)):
    if i >= old_numlist:
        df = df.append(tmp[i], ignore_index=True)
df.tail()

          date        text  money cate
57  10/10/2019     โอ้เด้ง   43.0  NaN
58  10/10/2019     ป็อปคอน   20.0  NaN
59  11/10/2019    ค่าเหล้า  120.0  NaN
60  11/10/2019  ค่ากระเพรา   50.0  NaN
61  11/10/2019        ถั่ว   10.0  NaN

### Append expenses on day in dataframe

In [12]:
for k, v in result.items():
#     df = df.append(v, ignore_index=True)
    if v['date'] == '6/9/2019':
        df = df.append(v, ignore_index=True)
df.head()

       date       text  money  cate
0  5/9/2019      ราเมง  150.0   NaN
1  5/9/2019  นมเปรี้ยว   25.0   NaN
2  5/9/2019     ขนมปัง   18.0   NaN
3  5/9/2019        ขนม   10.0   NaN
4  5/9/2019   ข้าวเย็น   40.0   NaN

### Append all expenses to dataframe

In [101]:
for k, v in result.items():
    df = df.append(v, ignore_index=True)
df.head()

       date       text  money  cate
0  5/9/2019      ราเมง  150.0   NaN
1  5/9/2019  นมเปรี้ยว   25.0   NaN
2  5/9/2019     ขนมปัง   18.0   NaN
3  5/9/2019        ขนม   10.0   NaN
4  5/9/2019   ข้าวเย็น   40.0   NaN

### Set NaN Category is Food

In [6]:
df.cate = df.cate.fillna('Food')
df

          date             text    money             cate
0      1/10/19      นมช็อคโกแลต    12.00             Food
1      1/10/19       ข้าวเที่ยง    35.00             Food
2      1/10/19     น้ำกระเจี๊ยบ     5.00             Food
3      1/10/19             ชานม    35.00             Food
4      1/10/19         ข้าวเย็น    50.00             Food
5      1/10/19  ค่าอินเตอร์เน็ต   631.30             Bill
6      1/10/19      ค่าโทรศัพท์   258.47             Bill
7      2/10/19         ข้าวเย็น   130.00             Food
8      2/10/19             ชานม    40.00             Food
9      2/10/19           หมาล่า    30.00             Food
10     3/10/19         ข้าวเย็น    35.00             Food
11     3/10/19            ไอติม    25.00             Food
12     3/10/19            ตัดผม   150.00            Other
13     3/10/19          ซาลาเปา    20.00             Food
14     3/10/19          ไส้กรอก    45.00             Food
15     3/10/19            ดอยคำ    17.00             Food
16     3/10/19         ใบมีดโกน   135.00         Shopping
17     3/10/19          ค่าห้อง  5203.00             Bill
18     4/10/19       ข้าวเที่ยง    45.00             Food
19     4/10/19       ค่าNetflix   145.00             Bill
20     4/10/19         ข้าวเย็น    40.00             Food
21     4/10/19             ชานม    30.00             Food
22     4/10/19         เงินเก็บ    20.00           Saving
23   5/10/2019            ราเมง   150.00             Food
24   5/10/2019        นมเปรี้ยว    25.00             Food
25   5/10/2019           ขนมปัง    18.00             Food
26   5/10/2019              ขนม    10.00             Food
27   5/10/2019         ข้าวเย็น    40.00             Food
28   5/10/2019            ดอยคำ    17.00             Food
29   6/10/2019           ค่าarl    24.00  Transportation
..         ...              ...      ...              ...
32   6/10/2019           ค่าmrt    27.00  Transportation
33   6/10/2019           ค่าarl    24.00  Transportation
34   6/10/2019       ซื้อกางเกง   300.00         Shopping
35   6/10/2019             ถั่ว    20.00             Food
36   6/10/2019            มาม่า    26.00             Food
37   6/10/2019            ไอติม    15.00             Food
38   6/10/2019          อิชิตัน    19.00             Food
39   7/10/2019               นม    16.00             Food
40   7/10/2019        คาปูชิโน่    35.00             Food
41   8/10/2019               นม    10.00             Food
42   8/10/2019           ค่าviu   150.00             Bill
43   8/10/2019       ข้าวเที่ยง    30.00             Food
44   8/10/2019     น้ำกระเจี๊ยบ     5.00             Food
45   8/10/2019         ข้าวเย็น    35.00             Food
46   8/10/2019          ซาลาเปา    20.00             Food
47   8/10/2019           บัวลอย    30.00             Food
48   9/10/2019               นม    10.00             Food
49   9/10/2019       ข้าวเที่ยง    30.00             Food
50   9/10/2019            ค่ารถ    40.00   Transportation
51   9/10/2019             ชานม    90.00             Food
52   9/10/2019         ข้าวเย็น    80.00             Food
53   9/10/2019            โกโก้    35.00             Food
54   9/10/2019          ค่าหนัง   140.00    Entertainment
55  10/10/2019          เติมเกม   300.00             Food
56  10/10/2019          ค่าหนัง   100.00             Food
57  10/10/2019          โอ้เด้ง    43.00             Food
58  10/10/2019          ป็อปคอน    20.00             Food
59  11/10/2019         ค่าเหล้า   120.00             Food
60  11/10/2019       ค่ากระเพรา    50.00             Food
61  11/10/2019             ถั่ว    10.00             Food

[62 rows x 4 columns]

### Change category

In [10]:
t = ['Entertainment', 'Transportation', 'Food', 'Bill', 'Other']
df.at[59, 'cate'] = t[0]
df.iloc[59:60]

          date      text  money           cate
59  11/10/2019  ค่าเหล้า  120.0  Entertainment

### Save to csv

In [28]:
df

          date             text    money             cate
0      1/10/19      นมช็อคโกแลต    12.00             Food
1      1/10/19       ข้าวเที่ยง    35.00             Food
2      1/10/19     น้ำกระเจี๊ยบ     5.00             Food
3      1/10/19             ชานม    35.00             Food
4      1/10/19         ข้าวเย็น    50.00             Food
5      1/10/19  ค่าอินเตอร์เน็ต   631.30             Bill
6      1/10/19      ค่าโทรศัพท์   258.47             Bill
7      2/10/19         ข้าวเย็น   130.00             Food
8      2/10/19             ชานม    40.00             Food
9      2/10/19           หมาล่า    30.00             Food
10     3/10/19         ข้าวเย็น    35.00             Food
11     3/10/19            ไอติม    25.00             Food
12     3/10/19            ตัดผม   150.00            Other
13     3/10/19          ซาลาเปา    20.00             Food
14     3/10/19          ไส้กรอก    45.00             Food
15     3/10/19            ดอยคำ    17.00             Food
16     3/10/19         ใบมีดโกน   135.00         Shopping
17     3/10/19          ค่าห้อง  5203.00             Bill
18     4/10/19       ข้าวเที่ยง    45.00             Food
19     4/10/19       ค่าNetflix   145.00             Bill
20     4/10/19         ข้าวเย็น    40.00             Food
21     4/10/19             ชานม    30.00             Food
22     4/10/19         เงินเก็บ    20.00           Saving
23   5/10/2019            ราเมง   150.00             Food
24   5/10/2019        นมเปรี้ยว    25.00             Food
25   5/10/2019           ขนมปัง    18.00             Food
26   5/10/2019              ขนม    10.00             Food
27   5/10/2019         ข้าวเย็น    40.00             Food
28   5/10/2019            ดอยคำ    17.00             Food
29   6/10/2019           ค่าarl    24.00  Transportation
..         ...              ...      ...              ...
32   6/10/2019           ค่าmrt    27.00  Transportation
33   6/10/2019           ค่าarl    24.00  Transportation
34   6/10/2019       ซื้อกางเกง   300.00         Shopping
35   6/10/2019             ถั่ว    20.00             Food
36   6/10/2019            มาม่า    26.00             Food
37   6/10/2019            ไอติม    15.00             Food
38   6/10/2019          อิชิตัน    19.00             Food
39   7/10/2019               นม    16.00             Food
40   7/10/2019        คาปูชิโน่    35.00             Food
41   8/10/2019               นม    10.00             Food
42   8/10/2019           ค่าviu   150.00             Bill
43   8/10/2019       ข้าวเที่ยง    30.00             Food
44   8/10/2019     น้ำกระเจี๊ยบ     5.00             Food
45   8/10/2019         ข้าวเย็น    35.00             Food
46   8/10/2019          ซาลาเปา    20.00             Food
47   8/10/2019           บัวลอย    30.00             Food
48   9/10/2019               นม    10.00             Food
49   9/10/2019       ข้าวเที่ยง    30.00             Food
50   9/10/2019            ค่ารถ    40.00   Transportation
51   9/10/2019             ชานม    90.00             Food
52   9/10/2019         ข้าวเย็น    80.00             Food
53   9/10/2019            โกโก้    35.00             Food
54   9/10/2019          ค่าหนัง   140.00    Entertainment
55  10/10/2019          เติมเกม   300.00    Entertainment
56  10/10/2019          ค่าหนัง   100.00    Entertainment
57  10/10/2019          โอ้เด้ง    43.00             Food
58  10/10/2019          ป็อปคอน    20.00             Food
59  11/10/2019         ค่าเหล้า   120.00    Entertainment
60  11/10/2019       ค่ากระเพรา    50.00             Food
61  11/10/2019             ถั่ว    10.00             Food

[62 rows x 4 columns]

In [29]:
df.to_csv('Expenses.csv', index=False)

## Summary 
***

### Total Expenses

In [27]:
print("Total Expenses :", sum(df.money), 'Baht')

Total Expenses : 9289.77 Baht

### Total Expenses in day

In [26]:
d = input("dd/mm : \n\n")+"/2019"
print("Total Expenses in", d, ":", sum(df[df.date == d]['money']), 'Baht')

dd/mm :

10/10
Total Expenses in 10/10/2019 : 463.0 Baht