In [15]:
import pandas as pd
import datetime

In [1]:
import pyrebase
import firebase_admin
from firebase_admin import credentials
from firebase_admin import db

In [2]:
# Fetch the service account key JSON file contents
cred = credentials.Certificate('line-bot-chrins-firebase-adminsdk.json')

# Initialize the app with a service account, granting admin privileges
firebase_admin.initialize_app(cred, {
    'databaseURL': 'https://line-bot-chrins.firebaseio.com'
})

In [8]:
# As an admin, the app has access to read and write all data, regradless of Security Rules
ref = db.reference("/expenses")

In [41]:
# get data from dict to dataframe
df = pd.DataFrame.from_dict(ref.get()).T

In [42]:
df.tail()

                           date money         text
-M47crdazQX6TB0bs7fx   2020/4/5    50       กะเพรา
-M47cu2KhdKQCli9dL4Q   2020/4/5    14          น้ำ
-M49UnAlyLr-q0GQv0xy   2020/4/5  5768      ค่าห้อง
-M4m1V4K4tfk3fVuGDef  2020/4/13   145  ค่า Netflix
-M4m1uIgU5v1eER03OLz  2020/4/13    70  ค่า Spotify

In [36]:
# delete data from realtime firebase use python

# index this want to delete
df.index[-1]
i = df.index[-1]

db.reference(f"/expenses/{i}").delete()

In [26]:
# saving data
# set(with key), push(without key), update

# create date
d = datetime.datetime.today().strftime("%Y/%m/%d")

# create data to push
data = {"Date":d, "money":90, "text":'ทั่วไป'}

# 
ref.push(data)